//list
.articles {

	.colcontainer {
		display: table;
	}

	aside {
		width: 100%;
		
		@include breakpoint(large) {
			width: 33.333%;
			padding-right: 40px;
			display: table-cell;
			vertical-align: top;
		}

		h2 {
			color: #000;
			@include fontsize(5.0);
			line-height: 1.1;
			margin: 0 0 20px;
		}

		p {
			font-family: $oswaldLight;
			text-transform: uppercase;
			color: #000;
			@include fontsize(1.8);
		}
	}

	.list {
		display: table;

		article {
			background: #fff;
			display: table-cell;
			width: 100%;
			padding: 20px;
			float: left;
			box-shadow: 0 0 7px rgba(0,0,0,0.2);
			margin: 0 0 20px;
			position: relative;

			@include breakpoint(large) {
	            width: 48%;
				padding: 10px;
				margin: 1%;
	        }

	        img {
	        	width: 100%;
	        	margin: 0 0 10px;
	        	display: block;
	        }

	        h3 {
	        	@include fontsize(1.6);
	        	margin: 0 0 10px;
	        }

	        p {
				font-family: $oswaldLight;
				color: #000;
				@include fontsize(1.6);
			}

	        .btn {
	        	font-family: $oswaldLight;
	        	@include fontsize(1.3);
	        	padding: 4px 10px;
	        }

	        .comments {
	        	@include position(absolute, null 10px 10px null);

	        	span {
	        		font-family: $oswaldLight;
					color: #999;
					@include fontsize(1.2);

	        		&:before {
	        			font-family: "Flaticon";
	        			content: "\e002";
	        			color: #ccc;
	        			margin-right: 5px;
	        		}
	        	}
	        }
		}
	}
}

//members
#members {
	background: #e5e5e5;
}