//buttons

.btn {
	@include bg-opacity($darkgrey, 0.8);
	display: inline-block;
	font-family: $oswaldBook;
	@include fontsize(1.8);
	text-transform: uppercase;
	color: #fff;
	text-decoration: none;
	padding: 14px 30px;
	position: relative;

	span {
		display: inline-block;
		@include transition(all 200ms ease);
		position: relative;
		z-index: 10;
	}

	&:after {
		content: "";
		@include transition(all 250ms ease);
		@include position(absolute, null null 0 0);
		width: 0%;
		height: 100%;
		@include bg-opacity($green, 0.9);
		z-index: 1;
	}

	&:hover,
	&:active {
		&:after {
			width: 100%;
		}
	}
}
