.my-games {
	@include transition(all 400ms ease);
	@include opacity(0);
	@include position(fixed, -100% 0 0 0);
	background: #36465d;
	width: 100%;
	height: 100%;
	padding-top: 20px;
	z-index: 999;

	.save-game & {
		@include opacity(1);
		@include transform(translateY(0));
		top: 0;
	}

	h2 {
		@include fontsize(2.4);
		color: #fff;
		margin: 0 0 .5em;
	}

	ul {
		list-style: none;
		margin: 0;

		li {
			display: inline-block;
			margin: 0 10px 10px;
			a {
				font-family: $clearsans;
				text-decoration: none;
				text-transform: uppercase;
				color: #fff;
				&:before {
					content: "";
					@include fontsize(5);
					display: block;
					width: 100px;
					height: 100px;
					line-height: 100px;
					font-family: Flaticon;
					border-radius: 100px;
				}
			}			
		}	
	}
	.action a:before {
		content: "\e004";
		background: #4aa8d8;
	}
	.arcade a:before {
		content: "\e002";
		background: #748089;
	}
	.sports a:before {
		content: "\e000";
		background: #f2992e;
	}
	.puzzle a:before {
		content: "\e001";
		background: #d95e40;
	}
	.race a:before {
		content: "\e003";
		background: #56bc8a;
	}

}