/* -------------------------------------------- Breakpoint */

// $small:         ( max:  767px );
// $medium:        ( min:  768px );
// $large:         ( min: 1024px );
// $small-only:    ( min: map-get($small, min), max: map-get($medium, min) - 1 );
// $medium-only:   ( min: map-get($medium, min), max: map-get($large, min) - 1 );
 
// @mixin breakpoint($map) {
//     $query: "";
//     @if map-has-key($map, min) { $query: append($query, "(min-width: #{map-get($map, min)})") }
//     @if map-has-key($map, min) and map-has-key($map, max) { $query: append($query, "and") }
//     @if map-has-key($map, max) { $query: append($query, "(max-width: #{map-get($map, max)})") }
//     @media screen and #{$query} { @content; }
// }

@mixin breakpoint($media) {
    @if $media == small {
        @media only screen and (max-width: 480px) { @content; }
    }
    @else if $media == medium {
        @media only screen and (min-width: 481px) and (max-width: 920px) { @content; }
    }
    @else if $media == large {
        @media only screen and (min-width: 921px) { @content; }
    }
}

/* -------------------------------------------- font size */

@mixin fontsize($sizeValue: 1.6) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}
//@include fontsize(1.6);


/* -------------------------------------------- opacity */

@mixin opacity($opacity) {
    -khtml-opacity: $opacity;
    opacity: $opacity;
    $opacity-ie: $opacity * 100;
    filter: alpha(opacity=$opacity-ie); //IE8
}
//@include opacity(0.8);

/* -------------------------------------------- BG color transparancy color */
@mixin bg-opacity($color, $opacity: 0.3) {
    background: $color; /* The Fallback */
    background: rgba($color, $opacity);
}

//@include bg-opacity(#333, 0.5);