// Fonts
//$futuraHeavy: "Futura W01 Heavy", arial, sans-serif;

// Colours
$white: #fff;
$green: #8dc641;
$darkgrey: #303030;

$oswaldLight: 'oswaldlight', sans-serif;
$oswaldBook: 'oswaldbook', sans-serif;
$oswaldBold: 'oswaldbold', sans-serif;
$openSans: 'Open Sans', sans-serif;