/* ------------------------------------------------------------------ footer */
footer {
	position: relative;
	overflow: hidden;
	height: 80px;
	background: #f8f8f8;
	text-align: center;

	&:before {
		content: "";
		@include position(absolute, null 0 -32px -5px);
		display: block;
		background-image: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iNjEuMjVweCIgaGVpZ2h0PSI0MnB4IiA+CjxwYXRoIGZpbGw9IiMxOUExREIiIGQ9Ik00NiwwYy01Ljg4LDAtMTEuMTg4LDIuNDIzLTE1LDYuMzE2QzI3LjE4OCwyLjQyMywyMS44OCwwLDE2LDBDNC40MDIsMC01LDkuNDAyLTUsMjFzOS40MDIsMjEsMjEsMjEKCWM1Ljg4LDAsMTEuMTg4LTIuNDIzLDE1LTYuMzE2QzM0LjgxMiwzOS41NzcsNDAuMTIsNDIsNDYsNDJjMTEuNTk4LDAsMjEtOS40MDIsMjEtMjFTNTcuNTk4LDAsNDYsMHoiLz4KPC9zdmc+");
		background-repeat: repeat-x;
		height: 42px;
	}

	h2 {
		margin: 1em 0 0 0;
		text-transform: uppercase;
		color: $blue;
	}
}