/*** DEFAULT STYLESHEET ***/

* {
    margin: 0;
    padding: 0;
    border: 0;
    @include box-sizing(border-box);
}

/* ------------------------------------------------------------------ GENERAL */

html, body {
    height: 100%;
}

html {
    font-size: 62.5%;
}

body {
    background: #fff;    
    color: #000;
    font-family: $base;
    @include fontsize(1.4);
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
    padding-top: 95px;

    @include breakpoint(small) {
        padding-top: 80px;
    }
}

h1, h2, h3, h4, h5 {
    font-family: $clearsans;
    color: #000;
    font-weight: normal;
}

h1 {
    @include fontsize(2.6);
}

h2 {
    @include fontsize(2.0);
}

h3 {
    @include fontsize(1.8);
}

h4, h5 {
    @include fontsize(1.4);
}

/* ------------------------------------------------------------------ Basic */

::-moz-selection { background: #3dc4f1; color: #fff; text-shadow: none; }
::selection { background: #3dc4f1; color: #fff; text-shadow: none; }

header, footer, section {
    @include clearfix;
}

main {
    background: #f8f8f8;
}